profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
       process {
         withName: MEDAKA_FIRST_ITERATION{
               conda = "${baseDir}/medaka_env.yml"
         }
         withName: MEDAKA_SECOND_ITERATION_FOR_FLYE_ASSEMBLIES{
               conda = "${baseDir}/medaka_env.yml"
         }
	 withName: MEDAKA_SECOND_ITERATION_FOR_SBERRY_ASSEMBLIES{
               conda = "${baseDir}/medaka_env.yml"
         }
      }

   }

}
